/* Image replacement */
%ir {
  display: block; height: 0; // height: 0 cuz we use padding-top for proportionalism
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
%ir br { display: none; }

/* Clear Fix */
%clearfix:before,
%clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

%clearfix:after {
    clear: both;
}

/* Hide for all but screen readers */
%visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}