@media print {
  // Scale from http://typecast.com/blog/a-more-modern-scale-for-web-typography
  body {
    font-size: 12pt;
    line-height: 1.25;
  }
  
  h1 {
    font-size: 36pt;
    // 2x body copy size = 32px 
    line-height: 1.25;
    // 45px / 36px
  }

  h2 {
    font-size: 24pt;
    line-height: 1.25;
  }

  h3 {
    font-size: 18pt;
    line-height: 1.25;
  }

  h4 {
    font-size: 14pt;
    line-height: 1.25;
  }

  blockquote {
    font-size: 24pt;
    line-height: 1.45833333;
  }

  cite {
    margin-top: -1em;
    &:before {
      content: "\2014 \2009";
    }
  }
  
  img {display: none}

  a { text-decoration: none; }
  a:after{
    content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;
    text-decoration: underline;
  }
}